body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#header {
    text-align: center;
}

#main-section {
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
}

#commands-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
}

#popup-button {
    margin: 24px;
    flex: 0 0 48px;
}

#grid-container {
    border: 1px solid rgb(248, 88, 88);
    margin: 12px 48px 48px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    flex: 1 1 auto;
}

.row {
    flex: auto;
    display: flex;
    justify-content: stretch;
}

.cell {
    /*border: 1px solid rgb(248, 88, 88);*/
    flex: auto;
}

.painted-cell {
    background-color: rgb(0, 0, 224);
}

.color-button {
    margin: 4px 24px;
    flex: 0 0 48px;
}