body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#grid-container {
    padding:48px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    flex: auto;
}

.row {
    flex: auto;
    display: flex;
    justify-content: stretch;
}

.cell {
    border: 1px solid rgb(248, 88, 88);
    flex: auto;
}

.painted-cell {
    background-color: rgb(0, 0, 224);
}